.artistTable {
    border:1px sólido #C0C0C0;
    border-collapse:colapso;
    padding:5px;
}
.artistTable th {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.artistTable td {
    border:1px sólido #C0C0C0;
    padding:5px;
}