<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taller numero 4</title>
    </head>

    <body>

        <button id="AlbumManagementButton">Gestion de álbumes</button>
        <button id="GenreManagementButton">Gestion de generos</button>
        <button id="ArtistManagementButton">Gestion de artistas</button>

    </body>

    <script src="./Scripts/index.ts"></script>

</html>