<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion de generos</title>
        <link rel="stylesheet" href="../Styles/genre.scss">
    </head>

    <body>

        <h2>Gestion de generos</h2>

        <form method="POST">

            <input type="number" name="genreID" id="genreID" placeholder="Id del genero">
            <input type="text" name="genreName" id="genreName" placeholder="Nombre del genero">

            <input type="submit" value="Enviar">
            <input type="reset" value="Limpiar">

        </form>

        <br> <!-- quitar ahorita -->
    
        <table class="genreTable">

            <thead>
                <tr>
                    <th>Id del genero</th>
                    <th>Nombre del genero</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>

        </table>


    </body>
        
    </body>

</html>